.dashboard-link {
  padding: 100px;
  margin: 20px;
  background: $red;
  color: $white;
  text-decoration: none;
  font-family: $roboto;
  font-weight: bold;
}

.admin-title {
  float: left;
}
  
.card-wrapper {
  background: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  box-shadow: 9px 8px 16px -11px #000000;
  width: 100%;
  img {
    width: 10%;
    margin-right: 20px;
  }
  .card-title {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 22px;
  }
  .edit-wrapper {
    margin-left: auto;
    padding: 20px;
  }
}

.dashboard-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.skeleton-wrapper {
  background: rgba(0,0,0,0.05);
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 9px 8px 16px -11px #000000;
  width: 100%;
  .text-wrapper {
    width: 80%;
  }
  .skeleton-img,
  .skeleton-text, 
  .skeleton-title {
    --skeleton-bg: rgba(0,0,0,0.05);
    --skeleton-fg: rgba(0,0,0,0.1);
  }
  .skeleton-img {
    width: 10%;
    height: 100%;
    margin-right: 20px;
    background: var(--skeleton-fg);
  }
  .skeleton-title,
  .skeleton-text {
    height: 20px;
    border-radius: 4px;
    background-color: var(--skeleton-bg);
    display: block;
    margin: 0;
    margin-bottom: 8px;
    background-image: linear-gradient(to right, var(--skeleton-fg), var(--skeleton-bg));
  }
  .skeleton-title {
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
  }
  .skeleton-text {
    width: 300px;
  }
}

.add-new-btn {
  text-decoration: none;
  padding: 20px;
  background: $red;
  color: $white;
  font-family: $roboto;
  font-weight: bold;
  float: right;
  border-radius: 10px; 
  float: right;
}

.admin-form-wrapper {
  display: flex;
  padding: 40px;
  flex-direction: column;
  label {
    width: 100%;
    margin: 20px 0;
    input {
      width: 100%;
      border: none;
      outline: none;
      background: transparent;
      border-bottom: 2px solid $blue;
      padding: 10px 0;
    }
  }
  button {
    float: right;
    width: 20%;
    background: $blue;
    color: $white;
    padding: 15px;
    align-self: flex-end;
    border: none;
  }
  img {
    width: 150px;
  }
}