.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  width: 60%;
  background: rgba(0,0,0,0.03);   
  box-shadow: 9px 8px 16px -11px $black;
  display: flex;
  flex-direction: row;
  .image-wrapper {
    background: $blue;
    h1 {
      color: $white;
    }
  }
  div {
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20%;
      align-self: center;
    }
  }
  .form-wrapper {
    padding: 40px;
    flex-direction: column;
    label {
      width: 100%;
      margin: 20px 0;
      input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid $blue;
        padding: 10px 0;
      }
    }
  }
  .login-btn {
    background: $blue;
    color: $white;
    border: none;
    padding: 10px;
    width: 20%;
    align-self: flex-end;
  }
  .error-msg {
    margin: 0;
    color: $red;
    padding: 0;
  }
}